@page
@model AccProdEnterprise.Pages.Employees
@{
}
<div class="d-flex row  ">
    <div class="col">
        <a class="btn mb-2 " style="background-color:cadetblue; color:white" asp-page="AddEmployee">Add employee</a>
    </div>
    
    <div class="col " >
        <form asp-page-handler="SerchEmployee">
            <div class="input-group mb-3 m">
                <input type="text" class="form-control" asp-for="@Model.SearchEmployeeLastName" placeholder="Input lastname employees" aria-label="Search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary w-100 ms-2" type="button">Find</button>
                </div>
            </div>
        </form>
    </div>
   
   <div class="col position-relative">
        <form asp-page-handler="SortEmployee">
            <select class="form-select form-select-lg w-50 h-75  fs-6" asp-for="@Model.SortEmployee" style="margin-left:50%">
                <option selected value="1">Cancel sort</option>
                <option value="2">by last name</option>
                <option value="3">by first name</option>
                <option value="4"><button type="submit">by position</button></option>
            </select>
            <button type="submit" class="btn btn-secondary" style="position:absolute; top:0">Sort</button>
       </form>
    </div>  
</div>


<div class="card shadow mb-2 " style=" background-color:#D7D6D6;">
    @foreach(var item in Model.EmployeesList)
    {
    <div class="card shadow text-dark bg-light m-3 " style="">
        
        <div class="card-body border rounded-3" style="background-color:#ACACAC;  position-relative;">
            <div>

                <div style="display:flex; font-size: 26px; border-bottom: 0.1px solid gray">
                    <p class="ms-1">@item.Lastname</p>   
                    <p class="ms-2">@item.Firstname</p>   
                    <p class="ms-2">@item.Middlename</p>
                </div>

                <div class="d-flex" style="">
                    <p><span class="fs-5"> E-mail:</span> <span style="font-weight:500"> @item.Email</span> </p>
                        <p style="position:relative; left:20%"><span class="fs-5 " style=""> Телефон:</span> <span style="font-weight:500" >@item.NumberPhone</span> </p>
                </div>

                    <p> <span class="fs-5">Дата рождения:</span><span style="font-weight:500" > @item.DateOfBirth</span></p>
                    <p> <span class="fs-5">Адрес проживания:</span> <span style="font-weight:500">@item.Address</span> </p>
                    <p> <span class="fs-5">Должность:</span> <span style="font-weight:500">@item.Position.NamePost </span></p>
                  
                    <div class="d-flex flex-row-reverse bd-highlight" style=" position:absolute; right:2%; bottom:5%">
                        <form method="post">
                            <button type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="height:50px; width:100px; border-radius:10px">Delete</button>
                        </form>

                        <form class="me-2" method="post" asp-page="UpdateEmployee" asp-page-handler="SearchById" asp-route-id="@item.Id">
                             <button type="submit"class="btn btn-success" style="height:50px; width:100px; border-radius:10px">Update</button>
                        </form>
                    </div>

                    
            </div>        
        </div>
    </div>
    }
</div>